<center>
<img src="https://laelgelcpublic.s3.sa-east-1.amazonaws.com/lael_50_years_narrow_white.png.no_years.400px_96dpi.png" width="300" alt="LAEL 50 years logo">
<h3>APPLIED LINGUISTICS GRADUATE PROGRAMME (LAEL)</h3>
</center>
<hr>

In [1]:
import pandas as pd

df_tv_commercials = pd.read_excel("corpus/00_sources/TV_commercials_1950_2025_test.xlsx", engine='openpyxl')

In [2]:
df_tv_commercials

,Decade,Sequence,Title,Category,URL,Start,End
0,1950,1,NaN,NaN,NaN,NaN,NaN
1,1950,2,Betty Crocker Cake,"Food, Beverages & Nutrition",https://youtu.be/WMIMxj0PGGY,0:17,1:42
2,1950,3,NaN,NaN,NaN,NaN,NaN
3,1950,4,Royal Caribbean,NaN,https://youtu.be/54-wVD9Vq-w,0:05,0:19
4,1950,5,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
956,2020-25,116,NaN,NaN,NaN,NaN,NaN
957,2020-25,117,NaN,NaN,NaN,NaN,NaN
958,2020-25,118,NaN,NaN,NaN,NaN,NaN
959,2020-25,119,NaN,NaN,NaN,NaN,NaN
960,2020-25,120,NaN,NaN,NaN,NaN,NaN

In [3]:
df_tv_commercials.dtypes

Decade      object
Sequence     int64
Title       object
Category    object
URL         object
Start       object
End         object
dtype: object

In [4]:
df_tv_commercials.loc[1, 'Start']

'0:17'